/*  your css code here. If applicable */
*{
	margin:0;
	padding:0;
}
#main-container{
	margin: 10%;
	padding: 40px;
	background:  #f5f5f5;
}

#main-container > h1{
	
}
#main-container > div{

	border: 2px solid lightgray;
	background: white;
	padding: 20px;
	margin-top:20px;
}

.author{
	text-align:right;
	font-style: italic;
}